# Accessory files
__pycache__/
.streamlit/
logs/
data/
backup/
settings/
templates/
meta.json

# Test files
PitySake.lnk
test.py
test.ipynb
users.py
init_demo.py
sample.png
sample_obj.png
sample_att.png
sample_data.png
sample_t.png

# Dev files
Notes/
PitySake_Accessories/
images/
settings_dev/
venv/
unused/
test/